<!-- views/products/index.ejs -->
<%- include('../partials/header') %>
<h1 class="title">Product List</h1>
<div class="homeContent">
  <table class="List">
  <tbody>
    <% products.forEach(function(p) { %>
      <tr>
        <td><button>DELETE</button></td>
        <td>Name: <%= p.name %></td>
        <td>Price: <%= p.price %></td>
        <td><a href="/products/<%= p._id %>">DETAILS</a></td>
      </tr>
    <% }); %>
  </tbody>
  </table>
</div>

<%- include('../partials/footer') %>