<!-- views/products/show.ejs -->
<%- include('../partials/header') %>
<h1 class="title">Product Details</h1>
<section id="show-page">
  <div>Name: </div>
  <div><%= product.name %></div>
  <div>Price: </div>
  <div><%= product.price %>$</div>
  <div>Available: </div>
  <div><%= product.available ? 'can be listed on the platform' : 'Not arrived yet' %></div>
  <div>Listing Date: </div>
  <div><%= product.listingDate.toLocaleDateString()%></div>
  <div>Description: </div>
  <div><%= product.description %></div>
</section>
<a href="/products/<%= product._id %>/edit" class="update-button">UPDATE</a>
<%- include('../partials/footer') %>