<%- include('../partials/header') %>
<h1 class="title">Product Details</h1>
<section id="show-page">
  <div>Name: </div>
  <div><%= product.name %></div>
  <div>Price: </div>
  <div><%= product.price %>$</div>
  <div>Listing Date: </div>
  <div><%= product.listingDate.toLocaleDateString()%></div>
  <div>Description: </div>
  <div><%= product.description %></div>
</section>
<a href="/products/<%= product._id %>/edit" class="update-button">UPDATE</a>

<h2>Product Picture</h2>
<% if (pic) { %>
  <img src="<%= pic.avatar %>" class="img-thumbnail" alt="">
<% } else { %>
  <p>No picture available</p>
<% } %>

<form action="/products/<%= product._id %>/pic" enctype="multipart/form-data" method="post">
  <div>
    <input type="file" name="image">
    <button type="submit">Upload Picture</button>
  </div>
</form>

<h2>Properties</h2>
  <div class="row justify-content-md-center">
    <div class="col col-lg-2">
    </div>
    <div class="col-md-auto">
      <div id="proForm">
        <table class="table table-hover">
        <tbody>
          <tr>
            <td>Discount</td>
            <td>Variants</td>
            <td>Tags</td>
            <td>Delete</td>
          </tr>
          <% product.property.forEach(function(pro)  { %>
            <tr>
              <td><%= pro.discount %></td>
              <td><%= pro.variants %>$</td>
              <td><%= pro.tags %>$</td>
              <td>
                <form action="/products/<%= product._id %>/properties/<%= pro._id %>?_method=DELETE" method="POST">
                  <button type="submit" class="btn btn-warning"> 
                    &times;
                  </button>
                </form>
              </td>
            </tr>
          <% }); %>
        </tbody>
        </table>
      </div>
    </div>
    <div class="col col-lg-2">
    </div>
  </div>

<h2>Add Property</h2>
<form action="/products/<%= product._id %>/property" method="POST">
  <label>Discount:
    <select name="discount">
      <option value="10% Off">10% Off</option>
      <option value="20% Off">20% Off</option>
      <option value="Free Shipping">Free Shipping</option>
      <option value="Buy One Get One Free">Buy One Get One Free</option>
      <option value="Flash Sale">Flash Sale</option>
    </select>
  </label><br>
  <label>variants:
    <input type="text" name="variants">
  </label><br>
  <label>Tags:
    <input type="text" name="tags">
  </label><br>
  <button type="submit">Add Property</button>
</form>

<%- include('../partials/footer') %>